{% extends "shared/base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="wrapper bg-gray-200 m-auto min-h-lvh">
  <div class="inner bg-white m-auto flex max-w-3xl p-5">
    <!-- Left: Pictures -->
    <div class="">
      <img src="https://fakeimg.pl/405x530/">
    </div>
    <!-- Right: Form -->
    <div class="">
      <h1 class="font-semibold text-2xl">LOGIN / REGISTRATION</h1>
      <form action="#" method="post">
        {% csrf_token %}
        <input type="text" placeholder="First Name">
        <input type="text" placeholder="Last Name">
        <input type="text" placeholder="Username">
        <input type="text" placeholder="Email Address">
        <input type="text" placeholder="Gender">
        <input type="text" placeholder="Password">
        <input type="text" placeholder="Confirm Password">
        <button class="bg-black text-white w-40 h-12">Register</button>
      </form>
    </div>

  </div>





</div>

{% endblock content %}